.categories{
    color: black;
    opacity: 65%;
    font-size: 25px;
    font-weight: bold;
}
.categories ul{
    list-style-type: none;
}
.categories li{
    font-size: 18px;
    list-style-type: none;
    text-align: left;
}

.title{
    color: black;
    opacity: 65%;
    font-weight: bold;
}