@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Exa:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.background-container {
  padding-top: 100px;
  padding-right: 100px;
  background-image: url("../../assets/Images/Commercial/Commercial1.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  font-family: Arial;
}

.social-midia-text {
    margin-top: -250px;
  margin-left: 40px;
}
.social-midia-text p {
  font-size: 50px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.social-icon {
  color: white;
  font-size: 40px;
  margin-left: 20px;
}
.social-icon-instagram {
  color: white;
  font-size: 47px;
  margin-left: 20px;
}
.social-icon-whatsapp {
  color: white;
  font-size: 43px;
  margin-left: 20px;
}
.reveal {
  color: black;
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 100px;
  margin-left: 70px;
}

.reveal h1 {
    font-size: 70px;
    font-weight: weight;
    margin-left: 110px;
}
.reveal h3 {
  font-size: 50px;
  font-weight: 300;
}
