.background-container {
    padding-top: 100px;
    padding-right: 100px;
    background-image: url('../../assets/Images/Commercial/Commercial1.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    font-family: Arial;
}

.social-midias{
    padding-right: 130px;
}
.social-icon{
    color: white;
    font-size: 20px;
}