.background-container-releases {
    background-image: url('../../assets/Images/Commercial/Commercial2.png');
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    position: relative;
    height: 100vh;
}

.product {
    height: auto;
    width: 350px;
}
.price{
    padding-right: 140px;
}
.price h1{
    font-size: 30px;
}

.price p {
    font-size: 20px;
    font-weight: bold;
}