.background-container-releases {
    background-image: url('../../assets/Images/Commercial/Commercial2.png');
    background-size: 70%;
    background-repeat: no-repeat;
    font-family: Arial;
    position: relative;
    height: 100vh;
}

.product {
    height: auto;
    width: 70%;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.product:hover{
    opacity: 90%;
    transform: scale(1.05);
}
.price{
    padding-right: 100px;
    margin-top: 15px;
}
.price h1{
    font-size: 30px;
}

.price p {
    font-size: 20px;
    font-weight: bold;
}