#search-items ::placeholder {
    color: #FFF;
}

#count-items {
    font-size: 12px;
    text-decoration: none;
    padding-top: 1px;
    padding-left: 5px;
    padding-bottom: 1px;
    padding-right: 5px;
    vertical-align: super;
}
#logo{
    margin-left: 40px;
}

#navbar-menu{
    margin-left: 50px;
    margin-right: 50px;
}
#dropdown{
    list-style-type: none;
}
#secondary-navbar{
    font-family: Arial;
    font-size: large;
}