.cart-section {
    margin-right: 10px;
}

.cart {
    color: white;
    font-size: 30px;
    margin-right: 10px;
}

.search-icon {
    color: white;
    margin-right: 10px; 
}

.search-items input::placeholder {
    color: #cccccc73;
}

.search-items {
    margin-left: 10px;
}

.button-search {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-items {
    display: flex;
    align-items: center;
}

.search-items input {
    flex-grow: 1; 
    border: none;
    padding: 0.5em;
}

.count {
    font-size: 10px;
    text-decoration: none;
    padding: 0px 5px 2px 5px;
    vertical-align: top;
    background-color: #6BA85C;
}

.logo {
    margin-left: 40px;
}
.info{
    color: black;
    font-size: 25px;
}
.navbar-options{
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.navbar-category{
    background-color: rgba(248, 249, 250, 1) !important;
    border: none !important;
}
#navbar-menu {
    margin-left: 50px;
    margin-right: 50px;
}

.dropdown-option:hover{
    background-color: rgb(6, 5, 5) !important; 
}

.secondary-navbar {
    font-family: Arial;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.337);
    margin-bottom: 15px;
}
