#search-items ::placeholder {
    color: #FFF;
}

#count-items {
    font-size: 12px;
    text-decoration: none;
    padding-top: 1px;
    padding-left: 5px;
    padding-bottom: 1px;
    padding-right: 5px;
    vertical-align: super;
}
#logo{
    margin-left: 40px;
}