#items-carousel {
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    width: 250px;
    border-radius: 1%;
    
}
#card-items{
    height: auto;
    width: auto;
}

.row{
    padding-left: 80px;
}
#button-carousel{
    color: black !important;
    background-color: black;
}
#price {
    
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
}

#Product-name{
    font-size: 23px;
    font-family: Arial;
}

#carouselExample{
    padding-left: 150px;
    padding-right: 150px;
    
}