@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Lexend+Exa:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.carousel-control-next-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/512/271/271228.png") !important;
}

.carousel-control-prev-icon {
  background-image: url("https://cdn-icons-png.flaticon.com/512/271/271220.png") !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.carousel-control-prev,
.carousel-control-next {
  width: 60px; 
}
.carousel-custom-container {
  padding: 20px;
}

.carousel-custom-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.carousel-item .col-3 {
  padding-left: 5px;
  padding-right: 5px;
}

.carousel-custom-card {
  display: flex;
  flex-direction: column;
}

.carousel-custom-image {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.carousel-custom-card-body {
  text-align: left;
}

.carousel-custom-product-name {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding-left: 20px;
}

.carousel-custom-text {
  font-size: 18px;
  font-family: Arial;
  padding-left: 20px;
}

.carousel-custom-price {
  padding-left: 20px;
}
