#items-carousel {
    padding-top: 20px;
    width: 280px;
    border-radius: 1%;
    
}
.carousel-control-next-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/512/271/271228.png") !important;
}
.carousel-control-prev-icon {
    background-image: url("https://cdn-icons-png.flaticon.com/512/271/271220.png") !important;
}
#card-items{
    height: auto;
    width: auto;
}

.row{
    padding-left: 80px;
}
#price {
    
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
}

#Product-name{
    font-size: 23px;
    font-family: Arial;
}
