.background-container-Advertisement {
    background-image: url('../../assets/Images/Commercial/Group17.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
}

.background-container-Advertisement img {
    width: 51.6%;
    margin-right: 10%; 
}
