#background-container-Advertisement {
    background-image: url('../../assets/Images/Commercial/Commercial3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    position: relative;
    height: 100vh;
}

#Advertisement-text{
    font-size: 60px;
    padding-top: 250px;
    padding-left: 100px;
}


.button-Advertisement{
    padding-left: 100px;
}
.custom-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white; 
    border: none; 
    padding: 15px 100px; 
    font-size: 18px; /* Aumentar o tamanho da fonte */
    cursor: pointer; /* Cursor ao passar o mouse */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

.custom-button:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Mudar a cor de fundo ao passar o mouse */
}
